#! /bin/sh

{{ haproxy_script_location }}/haproxy_dns_cfg {{inventory_hostname}}:8080 > /etc/haproxy/haproxy.cfg

# replace bind later with
#     bind *:443 ssl crt /etc/ssl/xip.io/xip.io.pem

echo "
listen marathon
  bind *:80
  mode http
  option httplog
  log 127.0.0.1 local1
  server marathon 127.0.0.1:8080 maxconn 32
" >> /etc/haproxy/haproxy.cfg

/bin/systemctl restart haproxy.service






