#! /bin/sh

{{ haproxy_script_location }}/haproxy_dns_cfg {{inventory_hostname}}:8080 > /etc/haproxy/haproxy.cfg

echo "
listen marathon
  bind *:443
  mode http
  option httplog
  log local1
  server marathon 127.0.0.1:8443 maxconn 32
" >> /etc/haproxy/haproxy.cfg

/bin/systemctl restart haproxy.service
