#! /bin/sh

{{ haproxy_script_location }}/haproxy_dns_cfg {{inventory_hostname}}:8080 > /etc/haproxy/haproxy.cfg

# replace bind later with
#     bind *:443 ssl crt /etc/ssl/xip.io/xip.io.pem

echo "
frontend marathon
    bind *:80
    mode http
    default_backend marathon_apps

backend marathon_apps
    mode http
    balance roundrobin
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    option httpchk HEAD / HTTP/1.1\r\nHost:localhost
    server marathon1 10.3.1.1:8080 check
    server marathon1 10.3.1.2:8080 check
    server marathon1 10.3.1.3:8080 check

" >> /etc/haproxy/haproxy.cfg

/bin/systemctl restart haproxy.service






